# Fish Classification Decision Tree
Prediksi Spesies ikan dengan parameter ***weight***, ***length1***, ***length2***, ***length3***, ***height***, dan ***width***, langkah pertama yaitu import librari yang nanti kita butuhkan seperti pandas, model machine learning untuk klasifikasi (Decision Tree), cross_val_score untuk uji konsistensi, dan train_test_split untuk memisahkan train dan test data dari masing atribut dan label.

In [84]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, train_test_split

In [85]:
# Membaca data
dt_fish = pd.read_csv('./Fish.csv')
dt_fish.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [86]:
# pisahkan atribut dan label
x = dt_fish[['Weight', 'Length1', 'Length2', 'Length3', 'Height', 'Width']]
y = dt_fish['Species']

In [87]:
# Buat train and test data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [88]:
# Buat Model
tree_model = DecisionTreeClassifier()
tree_model.fit(x_train, y_train)

DecisionTreeClassifier()

In [89]:
# uji kosistensi menggunakan cross validation
cross_val_score(tree_model, x_test, y_test)

# uji kosistensi menggunakan method dari model
tree_model.score(x_test, y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  UserWarning,

0.71875

In [90]:
# Data prediksi
tree_model.predict([[242, 23, 25, 30, 11, 3]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['Bream'], dtype=object)

Hasil prediksi diatas yaitu ikan **Bream**