In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Train Test Data
Disini saya mencoba menggunakan dataset iris, yang nantinya akan saya coba split datanya menjadi data train dan test

Ambil dataset iris dari folder datasets berikut :

In [18]:
iris = pd.read_csv('./datasets/Iris.csv')
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Sebelum split dataset menjadi data taining dan testing, kita tentukan terlebih dahulu data dan targetnya

In [14]:
# Data
X = iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]

# Target Label
y = iris['Species']

Langkah selanjutnya kita split data menjadi training dan testing sebesar 20%, random_state perlu digunakan supaya konsisten

In [19]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [20]:
len(x_test)

30